svg(viewBox="0 0 80.6 102.9")
	g(style="opacity: 0.2;")
		rect(fill="#ffffff" width="16" height="3.3")

	g(style="opacity: 0.2;")
		rect(y="10" fill="#ffffff" width="26" height="3.3")

	g(style="opacity:0.6;")
		rect(y="19.9" fill="#ffffff" width="16" height="3.3")

	g(style="opacity: 0.2;")
		rect(y="29.9" fill="#ffffff" width="26" height="3.3")

	g(style="opacity:0.6;")
		rect(y="39.9" fill="#ffffff" width="26" height="3.3")

	g(style="opacity:0.6;")
		rect(y="49.8" fill="#ffffff" width="16" height="3.3")

	g(style="opacity: 0.2;")
		rect(y="59.8" fill="#ffffff" width="26" height="3.3")

	g(style="opacity: 0.2;")
		rect(y="69.8" fill="#ffffff" width="26" height="3.3")

	g(style="opacity:0.6;")
		rect(y="79.8" fill="#ffffff" width="26" height="3.3")

	g(style="opacity: 0.2;")
		rect(y="89.7" fill="#ffffff" width="16" height="3.3")

	g(style="opacity: 0.2;")
		rect(x="44.5" fill="#ffffff" width="30.2" height="3.3")

	g(style="opacity:0.6;")
		rect(x="44.5" y="19.9" fill="#ffffff" width="25.2" height="3.3")

	g(style="opacity: 0.2;")
		rect(x="44.5" y="49.8" fill="#ffffff" width="25.2" height="3.3")

	g(style="opacity:0.6;")
		rect(x="44.5" y="89.7" fill="#ffffff" width="36.1" height="3.3")

	g(style="opacity: 0.2;")
		rect(y="99.7" fill="#ffffff" width="26" height="3.3")

		rect(x="50.6" y="10" style="opacity:0.2;" fill="#ffffff" width="30" height="3.3")
		rect(x="49.6" y="29.9" style="opacity:0.2;" fill="#ffffff" width="25.1" height="3.3")
		rect(x="50.6" y="39.9" style="opacity:0.2;" fill="#ffffff" width="30" height="3.3")
		rect(x="50.6" y="59.8" style="opacity:0.6;" fill="#ffffff" width="30" height="3.3")
		rect(x="48.7" y="69.8" style="opacity:0.2;" fill="#ffffff" width="21" height="3.3")
		rect(x="48.7" y="79.8" style="opacity:0.2;" fill="#ffffff" width="21" height="3.3")
		rect(x="48.7" y="99.7" style="opacity:0.2;" fill="#ffffff" width="21" height="3.3")

	g(style="opacity: 0.2;")
		rect(x="32.2" y="10" fill="#ffffff" width="12.3" height="3.3")

	g(style="opacity:0.6;")
		rect(x="32.2" y="29.9" fill="#ffffff" width="12.3" height="3.3")

	g(style="opacity: 0.2;")
		rect(x="32.2" y="39.9" fill="#ffffff" width="12.3" height="3.3")

	g(style="opacity: 0.2;")
		rect(x="32.2" y="59.8" fill="#ffffff" width="12.3" height="3.3")

	g(style="opacity: 0.2;")
		rect(x="32.2" y="69.8" fill="#ffffff" width="12.3" height="3.3")

	g(style="opacity: 0.2;")
		rect(x="32.2" y="79.8" fill="#ffffff" width="12.3" height="3.3")

	g(style="opacity:0.6;")
		rect(x="32.2" y="99.7" fill="#ffffff" width="12.3" height="3.3")


	rect(x="22" style="opacity:0.6;" fill="#ffffff" width="16" height="3.3")
	rect(x="22" y="19.9" style="opacity:0.2;" fill="#ffffff" width="16" height="3.3")
	rect(x="22" y="49.8" style="opacity:0.6;" fill="#ffffff" width="16" height="3.3")
	rect(x="22" y="89.7" style="opacity:0.2;" fill="#ffffff" width="16" height="3.3")