svg.dont(viewBox="-30.5 583.3 51.2 51.2")
	circle(fill="#FFFFFF" cx="-4.9" cy="608.9" r="18.2")
	path(fill="#D15241" d="M-4.9,586.7c-12.3,0-22.2,10-22.2,22.2c0,12.3,10,22.2,22.2,22.2s22.2-10,22.2-22.2 C17.3,596.7,7.3,586.7-4.9,586.7z M-20.9,608.9c0-8.8,7.2-16,15.9-16c3.3,0,6.5,1,9,2.8l-22.2,22.2 C-19.9,615.4-20.9,612.2-20.9,608.9z M-4.9,624.9c-3.3,0-6.5-1-9-2.8l22.2-22.2c1.8,2.5,2.8,5.7,2.8,9C11,617.8,3.9,624.9-4.9,624.9 z")