svg.moon-svg(viewBox="0 0 41 43")
	defs
		linearGradient(id="PSgrad_0" x1="37.461%" x2="0%" y1="0%" y2="92.718%")
			stop(offset="0%" stop-color="rgb(128,199,202)" stop-opacity="1")
			stop(offset="100%" stop-color="rgb(73,150,154)" stop-opacity="1")

	path(fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="url(#PSgrad_0)" d="M25.548,3.778 C22.012,2.349 18.301,2.076 14.833,2.769 C17.505,7.875 18.029,14.043 15.719,19.760 C13.409,25.477 8.748,29.550 3.279,31.366 C5.292,34.274 8.152,36.655 11.688,38.084 C21.257,41.950 32.116,37.404 35.944,27.931 C39.771,18.457 35.117,7.644 25.548,3.778 Z")