svg.playlists(viewBox="-52 601.8 54.2 54.2")
	path(fill="#ffffff" d="M-2.2,616.9h-45.4c-0.8,0-1.4,0.6-1.4,1.4v33.3c0,0.8,0.6,1.4,1.4,1.4h45.4c0.8,0,1.4-0.6,1.4-1.4v-33.3 C-0.8,617.5-1.4,616.9-2.2,616.9z M-16.9,636.1l-11.3,7.6c-0.2,0.2-0.5,0.2-0.8,0.2c-0.2,0-0.5-0.1-0.7-0.2 c-0.5-0.2-0.7-0.7-0.7-1.2v-15.1c0-0.5,0.3-1,0.7-1.2c0.5-0.2,1-0.2,1.4,0.1l11.3,7.6c0.4,0.3,0.6,0.7,0.6,1.2 S-16.5,635.9-16.9,636.1z")
	path(fill="#ffffff" d="M-43.1,613.7h36.3c0.8,0,1.4-0.6,1.4-1.4c0-0.8-0.6-1.4-1.4-1.4h-36.3c-0.8,0-1.4,0.6-1.4,1.4 C-44.5,613-43.8,613.7-43.1,613.7z")
	path(fill="#ffffff" d="M-38.5,607.6h27.2c0.8,0,1.4-0.6,1.4-1.4c0-0.8-0.6-1.4-1.4-1.4h-27.2c-0.8,0-1.4,0.6-1.4,1.4 C-39.9,607-39.3,607.6-38.5,607.6z")