svg.press-wave(viewBox="0 0 1023 458" preserveAspectRatio="none")
	g(stroke="none" fill="none" fill-rule="evenodd")
		g(transform="translate(-1.000000, -227.000000)" fill="#007AFF")
			path(d="M1,307.854701 C145.976842,253.951567 256.01193,227 331.105263,227 C406.198596,227 637.496842,253.951567 1025,307.854701 L1025,700 L1,700 L1,307.854701 Z")