svg.round-square(viewBox="0 0 48 48")
	path(fill="#3884FE" d="M24,48c23.8,0,24-10.7,24-24S47.8,0,24,0S0,10.7,0,24S0.2,48,24,48z")
	path(fill="#000000" style="opacity: 0.3;" d="M24,48c23.8,0,24-10.7,24-24c0-9.3-0.1-17.4-8.5-21.4L10.1,46.1C13.5,47.3,18,48,24,48z")
