svg(viewBox="0 0 240 101.8")
	linearGradient(id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="120.0192" y1="-8.0065" x2="120.0192" y2="65.0709")
		stop(offset="0.3118" style="stop-color:#81E1FD")
		stop(offset="1" style="stop-color:#2B4BBC;stop-opacity:0.2")

	path(fill="url(#SVGID_1_)" d="M239.9,60.4c-11.8-3.2-54.7-3.4-62-13.2c-6.4-8.5-8-19.5-12.2-29.3C161.5,8.2,152.5-1.4,142,0.2 c-19.1,2.8-20.8,36.7-40.1,38.4c-14.1,1.3-23.6-16.7-37.7-17.5c-13.7-0.7-22,14.2-28.9,26c-9,15.5-21,29.2-35.2,40.2l0,14.5h239.8 V60.4z")


	linearGradient(id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="0.131" y1="67.6922" x2="239.9068" y2="67.6922")
		stop(offset="0.3118" style="stop-color:#81E1FD")
		stop(offset="1" style="stop-color:#2B4BBC;stop-opacity:0.2")

	path(fill="url(#SVGID_2_)" d="M205,87.9c-6.9-0.2-12.9-0.9-19.2-7.5c-5.9-6.2-9.9-14.1-16-20.1c-13.4-13.3-36.9-14.7-51.8-3 c-4.4,3.5-8.1,7.9-12.8,11c-4.7,3.1-10.9,4.9-15.9,2.3c-6.8-3.5-7.9-12.4-11-19.3C74.2,41.9,64.8,35,54.5,33.8 c-14-1.6-23.8,5.9-29.6,17.4c-5.1,10-14.2,17.9-24.8,21.5l0,29.1h239.8l0-6.7c-7.8-3.6-16.3-5.6-24.8-6.6 C211.5,88,208.2,88,205,87.9z")

	linearGradient(id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="0" y1="66.9821" x2="240.0271" y2="66.9821")
		stop(offset="0.3118" style="stop-color:#81E1FD")
		stop(offset="1" style="stop-color:#2B4BBC;stop-opacity:0.2")

	path(fill="url(#SVGID_3_)" d="M239.9,101.8c0,0,0.3-15,0-15.1c-4.6-2.7-8.7-6.3-11.8-10.8c-7.7-11.3-9.2-34-23-40.5 c-36.2-17-49.9,38.3-72.4,47.6c-12.2,5-27.4,4.8-39.4-0.5c-7.9-3.5-14.3-9-22.2-12.4C48.9,60.2,20.9,68.5,0,80.4l0.1,21.4H239.9z")