.cta-btn{
	// padding: 0px 13px 0px 24px;
	border-radius: 29px;
	font-size: 1em;
	line-height: 50px;
	border: none;
	outline: 0;
	background-color: $brand-yellow;
	@include drawShadow(-3.126px, 17.727px, 35px, 0px, rgba(0, 0, 0, 0.2));
	cursor: pointer;
	@include transitions-ease(.6s);
	min-width: 221px;
	text-align: right;

	@include laptop-sm-width {
		// padding-top: 4px;
		// padding-bottom: 5px;
		// padding-right: 15px;
		font-size: 1.2em;
	}

	@include laptop-sm-width {
		min-width: 266px;
	}

	a{
		display: block;
		text-decoration: none;
		color: inherit;
		padding: 0px 13px 0px 24px;

		@include laptop-sm-width {
			padding-top: 4px;
			padding-bottom: 5px;
			padding-right: 15px;
		}
	}

	.apple{
		display: inline-block;
		vertical-align: middle;
		margin-right: 17px;
		font-size: 1.8em;
		font-family: sans-serif;

		svg{
			position: relative;
			width: 28px;
		}
	}

	._label{
		display: inline-block;
		vertical-align: middle;
		font-family: 'Gotham_Bold';
		font-size: 1.03em;
		line-height: 1.6em;
		letter-spacing: 0.01em;
		&.short{
			+ .arrow{
				margin-left: 38px;
			}
		}
	}
	.arrow{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-left: 17px;
		// background-color: $brand-yellow--dark;
		background-color: rgba(255,255,255,.3);

		@include laptop-sm-width {
			width: 40px;
			height: 40px;
		}

		svg{
			position: absolute;
			margin: auto;
			top: 0; bottom: 0;
			left: 0; right: 0;
			width: 13px;

			path{
				fill: #000;
			}
		}
	}

	&:hover{
		@include transitions-ease(.4s);
		@include drawShadow(-1.126px, 7.727px, 10px, 0px, rgba(0, 0, 0, 0.3));
	}

	&.white{
		background-color: #fff;
		color: #2F343C;

		.arrow{
			background-color: $brand-blue--btn;

			svg path{
				fill: #fff;
			}
		}
	}
}