// Default style
*{
	@include border-box;
}

body{
	color: $body-color;
	// background-color: #fff;
	background-color: $brand-blue;
	font-size: 16px;
	font-family: 'Gotham_Book', sans-serif;
	line-height: 1.5em;
}

body, h1, h2, h3, h4, h5, h6, p, section, div, nav, ul, li, button, figure{
	margin: 0;
	padding: 0;
}

.blue-high{
	color: $brand-blue;
}

.blue-down{
	color: $brand-blue--down;
}

.bold-high{
	font-family: 'Gotham_Bold';
}

.container{
	// @media (min-width: 1200px){
	@include desktop-width {
		max-width: 1245px;
	}
}

#main-wrapper{
	// background-color: $html-bg;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	padding-top: 304px;

	@include tablet-width {
		padding-top: 227px;
	}
}