@font-face {
	font-family: 'Gotham_Bold';
	font-display: auto;
	src:url('../fonts/Gotham-Bold.woff') format('woff'),
		url('../fonts/Gotham-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Gotham_Medium';
	font-display: auto;
	src:url('../fonts/Gotham-Medium.woff') format('woff'),
		url('../fonts/Gotham-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Gotham_Book';
	font-display: auto;
	src:url('../fonts/Gotham-Book.woff') format('woff'),
		url('../fonts/Gotham-Book.otf') format('opentype');
}
@font-face {
	font-family: 'Gotham_Light';
	font-display: auto;
	src:url('../fonts/Gotham-Light.woff') format('woff'),
		url('../fonts/Gotham-Light.otf') format('opentype');
}
