$html-bg: #f7f7f7;
$body-color: #111;
$brand-blue: #007AFF;
$brand-blue--down: rgba(255,255,255,.7);
$brand-blue--btn: #4690FD;
$brand-yellow: #ffc80a;
$brand-yellow--dark: #e1b10a;

$icon-blue: #3884fd;

$sun-color: #fcc208;

$title-color: #304768;