/*Normalize*/
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

// Import libraries


// Import your files
@import 'global/vars';
@import 'global/mixins';
@import 'global/fonts';
@import 'global/default';
@import 'global/buttons';
@import 'global/keyframes';

@import 'modules/header';
@import 'modules/footer';
@import 'modules/iphones';

@import 'views/_home';

.test{
	z-index: 999999999;
	position: fixed;
	background-color: rgba(255,0,0,.3);
	pointer-events: none;

	width: 800px;
	height: 100%;
	top: 0;
	left: 0;
}

.tester{
	z-index: 999999999;
	display: block;
	position: absolute;
	width: 100%;
	opacity: .5;
	pointer-events: none;
	// left: -50px;
}