header.melodia_header.inview
	.logo-wrap
		a(href="#")
			figure
				img(src="img/melodia_logo.png", alt="melodia logo")
			h1 melodia

	.title-wrap
		.container
			.row
				.col-12.col-lg-6.offset-lg-3
					.closure-text.inview
						h1 press