.iphone-wrap{
	position: relative;
	width: 390px;

	@include desktop-width {
		height: 628px;
	}

	&.black{
		img{
			width: 320px;
			@include desktop-width {
				width: 390px;
			}
		}

		.ui{
			top: 8.6%;
			right: 9.7%;
		}
	}

	&.white{
		z-index: 1;

		img{
			width: 320px;
			@include desktop-width {
				width: 389px;
			}
		}

		.ui{
			top: 7.7%;
			right: 9.3%;

			img{
				position: absolute;
				bottom: -5px;
				left: 0;
				
				@include laptop-sm-width {
					bottom: -3px;
				}
			}
		}
	}

	.ui{
		position: absolute;
		top: 8.6%;
		right: 9.7%;
		width: 192px;
		height: 410px;
		border-radius: 20px;

		@include desktop-width {
			width: 234px;
			height: 507px;
		}

		img{
			width: 100%;
			@include desktop-width {
				width: 234px;
			}
		}
	}
}