.centered-section{
	z-index: 1;
	position: relative;
	top: 0; left: 0;
	width: 100%;
	color: #fff;
	padding-top: 77px;

	@include tablet-width {
		position: absolute;
		padding-top: 108px;
		height: 100%;
		top: unset;
	}

	.bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		overflow: hidden;

		#last-dots{
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			height: 100%;
		}

		.notes{
			position: absolute;
			margin: auto;
			top: 50px;
			left: 0;
			right: 0;
			width: 350px;
			opacity: .55;
			mix-blend-mode: soft-light;

			@include laptop-sm-width {
				width: 650px;
				top: 65px;
			}
		}

		.press-wave{
			display: block;
			position: absolute;
			bottom: 0;
			left: -9.5%;
			width: 133%;
			height: 100%;

			@include laptop-sm-width {
				left: -10.5%;
				width: 138%;
			}
		}

		&.inview{
			#last-dots, .notes{
				opacity: 0.2;
				@include translate(0,120px);
				@include transitions-ease(7s);
			}

			&.in-view{
				#last-dots, .notes{
					opacity: 1;
					@include translate(0,0);
				}
				#last-dots{
					opacity: 1;
				}
			}
		}
	}

	.buttons-row{
		position: relative;
		width: 100%;
		margin-bottom: 36px;
		text-align: center;

		@include tablet-width {
			@include flexIt;
			@include flexNoWrap;
			@include flexJustify;
			max-width: 480px;
			margin: 0 auto 62px;
		}

		@include laptop-sm-width {
			max-width: 600px;
		}

		.btn:first-child{
			margin-bottom: 30px;

			@include tablet-width {
				margin-bottom: 0;
			}
		}
	}

	.help{
		font-family: 'Gotham_Medium';
		font-size: 1.125em;
		line-height: 1.667em;
		letter-spacing: 0.02em;
		margin-bottom: 65px;
		padding: 0 30px;
		text-align: center;
		@include smoothFont;

		@include tablet-width {
			margin-bottom: 50px;
		}

		@include laptop-sm-width{
			padding: 0;
			font-size: 1.26em;
		}

		a{
			position: relative;
			color: inherit;
			text-decoration: none;
			@include transitions-ease(.3s);

			&:after{
				content: '';
				opacity: .5;
				position: absolute;
				left: 0;
				bottom: -1px;
				width: 100%;
				height: 1px;
				background-color: #fff;
				@include transitions-ease(.3s);
			}

			&:hover{
				color: $brand-yellow;

				&:after{
					background-color: $brand-yellow;
				}
			}
		}
	}
}


















