extends _templates/layout.jade

block content
	//- .test
	section.centered-section
		.bg.inview
			include _modules/svg/press-wave.jade
			canvas#last-dots
			include _modules/svg/notes.jade

		.container
			.row
				.buttons-row.inview
					.btn
						button.cta-btn
							a(href="https://google.com/" target="_blank")
								span._label about melodia
								figure.arrow
									include _modules/svg/arrow.jade

					.btn
						button.cta-btn.white
							a(href="https://google.com/" target="_blank")
								span._label.short branding
								figure.arrow 
									include _modules/svg/arrow.jade


				.col-12.col-lg-10.offset-lg-1
					p.help.inview
						span.blue-down For additional press inquiries, please contact us at 
						a(href="#") press@melodia.io